.container{
    margin-bottom: 60px;
}
.carol-button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}

.s-pad{
    padding-bottom: 40px;
}
.p-pad{
    padding-bottom: 50px;
}

.see-color{

    color: #FF9D00;
}

.card-body{
    text-align: center;
}

.card-text{
    padding-bottom: 40px;
}

.p-div{
    padding-bottom: 25px;
    font-size:larger;
}

.b-pad{
    padding-bottom: 25px;
}

.c-rad{
    border-radius: 30px;
}

.card-img-top{
    padding: 25px 25px;
}

